<%- include("partials/header") %>

<form autocomplete="on">
    <div>
        <input type="text" placeholder="City or State" value="">
    </div>
    <div class="city">Filter For a City</div>
    <div class="state">Or a State</div>
</form>

<!-- <ul>
    <% data.forEach(function(info){ %>
        <li><%= info.city %> - <%= info.population %></li>
    <% }) %>
</ul> -->

<%- include("partials/footer") %>